:root {
  --blue: rgb(0, 93, 180);
  --black: rgb(43, 41, 34);
  --corporate-black50: rgb(149, 148, 146);
  --corporate-black80: rgb(85, 84, 79);
  --white: rgb(255, 255, 255);
  --dark-blue: rgb(24, 67, 109);
  --light-blue: rgb(51, 125, 196);
}

h1 {
  color: var(--corporate-black80);
}

.ui.container .item.brand {
  padding: 0;
}

.ui.container .item.brand img {
  width: 80px;
}

nav {
  border-bottom: 1px solid rgba(209, 209, 209, 1);
}

/* Postulantes */

.center-xy {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.questions {
  width: 60%;
  margin: auto;
}

/* Helpers */

.vh-89 {
  height: 85vh;
}

.hidden {
  display: none !important;
}