:root {
    --blue: rgb(0, 93, 180);
    --black: rgb(43, 41, 34);
    --corporate-black50: rgb(149, 148, 146);
    --corporate-black80: rgb(85, 84, 79);
    --white: rgb(255, 255, 255);
    --dark-blue: rgb(24, 67, 109);
    --light-blue: rgb(51, 125, 196);
    --red-google: rgb(207, 63, 47);
}

.fa-square {
    color: var(--blue);
}

.fa-circle {
    height: 8px;
    color: var(--blue);
}

.video {
    position: relative;
    top: 20px;
}

.job {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.responsibilities li {
    list-style: none;
    line-height: 22px;
}

.button-video {
    width: 300px;
    height: 45px;
}

.button.button-log {
    background-color: var(--red-google) !important;
    color: var(--white) !important;
    position: relative;
    right: 320px;
}

.button.button-video,
.button.button-log {
    font-size: 1.3rem;
}

.user {
    position: relative;
    left: 360px;
}