<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Perfil Profesional</title>
  <link rel="stylesheet" href="../vendors/semantic/semantic.min.css">
  <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
  <div class="ui container">
    <div class="row">
      <form class="ui form" id="formulario" method="post">
        <div class="field">
          <label>¿Cual es tu expectativa salarial?</label>
          <input type="text" name="salario">
        </div>
        <div class="two fields">
          <div class="field">
              <label>Grado academico</label>
              <input type="text" name="grado" placeholder="Grado academico">
         </div>
         <div class="field">
            <label>¿Cuál es tu disponibilidad </label>
            <input type="text" name="disponibilidad" placeholder="cual es tu disponibilidad">
         </div>
      </div>
        <div class="ui error message"></div>
        <div class="ui button submit back" id="btn-enviar">Registrar</div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../vendors/semantic/semantic.min.js"></script>
  <script src="../js/profile-questions.js"></script>
</body>
</html>