<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Perfil Profesional</title>
  <link rel="stylesheet" href="../vendors/semantic/semantic.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
</head>
<body>
    <nav>
      <div class="ui grid">
        <div class="sixteen wide column">
          <div class='ui secondary huge menu'>
            <div class='ui container'>
              <a class='item brand'>
                <img src="../assets/logoGMD.png" alt="">
              </a>
              <div class='right menu'>
                <a class='link item'>Inicio</a>
                <a class='link item'>Outsourcing</a>
                <a class='link item'>Soluciones y servicios</a>
                <a class='link item'>Contáctenos</a>
                <a class='link item'>Acerca de GMD</a>
                <a class='link item'>Bolsa de trabajo</a>
                <a class='link item sign-out-js'>Cerrar sesión</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <br>
  <div class="ui grid container">
    <div class="row">
      <form class="ui form" id="formulario" method="post">
        <div class="field">
          <label>¿Cual es tu expectativa salarial?</label>
          <input type="text" name="salario">
        </div>
        <div class="two fields">
          <div class="field">
              <label>Grado academico</label>
              <input type="text" name="grado" placeholder="Grado academico">
         </div>
         <div class="field">
            <label>¿Cuál es tu disponibilidad </label>
            <input type="text" name="disponibilidad" placeholder="cual es tu disponibilidad">
         </div>
      </div>
      <div class="field">
        <label>¿Cuentas con experiencia laboral? Comentanos</label>
        <textarea name="maxLength" cols="5"></textarea>
      </div>
      <div>
         <!--  <label for="file" class="ui icon button">
              <i class="file icon"></i>
              Adjuntar CV</label> -->
              <div class="ui action input">
                  <input class="upload-cv" type="text" placeholder="File 1" readonly>
                  <input type="file">
                  <div class="ui icon button">
                    <i class="attach icon"></i>
                  </div>
          
      </div>
        <div class="ui error message"></div>
        <div class="ui container center aligned">
              <!-- href="./profile.html" -->
              <button class="ui segment button submit massive back" id="btn-enviar" >
              Enviar
              </button>
        </div>
  
      </form>
    </div>
  </div>
   <!--Firebase init  -->
  <!--  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
   <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
   <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
   <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script> -->
   <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
   <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../vendors/semantic/semantic.min.js"></script>
  <script src="../js/login-firebase.js"></script>
  <script src="../js/profile-questions.js"></script>
  <!-- <script src="../js/video.js"></script> -->
  <!-- <script src="../js/profile-questions.js"></script> -->
</body>
</html>