<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/semantic/semantic.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class='ui secondary menu'>
          <div class='ui container'>
            <a class='item brand'>
              <img src="../assets/logoGMD.png" alt="">
            </a>
            <div class='right menu'>
              <a class='link item'>Inicio</a>
              <a class='link item'>Outsourcing</a>
              <a class='link item'>Soluciones y servicios</a>
              <a class='link item'>Contáctenos</a>
              <a class='link item'>Acerca de GMD</a>
              <a class='link item'>Bolsa de trabajo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="ui grid">
    <div class="row">
      <div class="ui ordered steps">
        <div class="active step step-1">
          <div class="content">
            <div class="title">Requisitos</div>
            <div class="description">Verifica los requisistos para este puesto</div>
          </div>
        </div>
        <div class="step step-2">
          <div class="content">
            <div class="title">Entrevista</div>
            <div class="description">Es necesario que completes las preguntas</div>
          </div>
        </div>
        <div class="step step-3">
          <div class="content">
            <div class="title">Bienvenida</div>
            <div class="description">¡Ya eres parte del equipo!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <div class="content-step-1 vh-89 center-xy hidden">
          <div class="center aligned">
            <h3 class="ui header center aligned">
              <p class="step-description-1">¡Has pasado a la siguiente etapa!</p>
            </h3>
            <button class="ui right labeled icon button primary next-step-2">
              <i class="right arrow icon"></i>
              Siguiente2
            </button>
          </div>
        </div>
        <div class="content-step-2 vh-89 center-xy">
          <div class="center aligned">
            <div class="questions questions-step-2">
              <h3 class="ui header center aligned">
                <p class="step-description-1">Cuestionario</p>
              </h3>
              <ol class="ui list">
              </ol>
              <button class="ui primary button">
                Grabar respuestas
              </button>
            </div>
            <div class="result-step-2 hidden">
              <h3 class="ui header center aligned">
                <p class="step-description-1">Tu respuesta ha sido enviado correctamente.
                  <br> En el transcurso de la semana, te estaremos enviando el resultado de la evaluación.
                </p>
              </h3>
              <button class="ui right labeled icon button primary next-step-3">
                <i class="right arrow icon"></i>
                Siguiente3
              </button>
            </div>
          </div>
        </div>
        <div class="content-step-4 vh-89 center-xy hidden">
          <div class="center aligned">
            <div class="questions hidden">
              <h3 class="ui header center aligned">
                <p class="step-description-1">Cuestionario</p>
              </h3>
              <ol class="ui list">
                <li> ¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, esse consequatur. Mollitia obcaecati illo
                  optio iure vel reiciendis at, unde praesentium eligendi tempore eum accusamus id dolore maiores ratione?
                  Nulla? </li>
                <li> ¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, esse consequatur. Mollitia obcaecati illo
                  optio iure vel reiciendis at, unde praesentium eligendi tempore eum accusamus id dolore maiores ratione?
                  Nulla? </li>
                <li> ¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, esse consequatur. Mollitia obcaecati illo
                  optio iure vel reiciendis at, unde praesentium eligendi tempore eum accusamus id dolore maiores ratione?
                  Nulla? </li>
                <li> ¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, esse consequatur. Mollitia obcaecati illo
                  optio iure vel reiciendis at, unde praesentium eligendi tempore eum accusamus id dolore maiores ratione?
                  Nulla? </li>
                <li> ¿Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, esse consequatur. Mollitia obcaecati illo
                  optio iure vel reiciendis at, unde praesentium eligendi tempore eum accusamus id dolore maiores ratione?
                  Nulla? </li>
              </ol>
              <button class="ui primary button">
                Grabar respuestas
              </button>
            </div>
            <div class="result-step-2">
              <h3 class="ui header center aligned">
                <p class="step-description-1">4
                </p>
              </h3>

            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/questions.js"></script>
    <script src="../js/show-questions.js"></script>

</body>

</html>